<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.befit">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FitbitAuthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/befit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.fitbit.befit.CLIENT_ID"
            android:value="228D9R"/>
        <meta-data
            android:name="com.fitbit.befit.REDIRECT_URL"
            android:value="https://befitfinish"/>

        <activity
            android:name=".FitbitStartActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitbit.Teal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/MyMaterialTheme">
        </activity>

    </application>

</manifest>